@import "tailwindcss";

@font-face {
  font-family: "DM Sans";
  src: url('./assets/fonts/DM_Sans/DMSans-VariableFont.ttf') format("truetype-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url('./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont.ttf') format("truetype-variations");
  font-display: swap;
}

@theme {
  --font-dm-sans: "DM Sans";
  --font-grotesque: "Bricolage Grotesque";
  --color-neutral-0: #fff;
  --color-neutral-200: #d4d3d9;
  --color-neutral-300: #acacb7;
  --color-neutral-600: #3c3b5e;
  --color-neutral-700: #302f4a;
  --color-neutral-800: #262540;
  --color-neutral-900: #02012c;
  --color-orange-500: #ff820a;
  --color-blue-500: #4658d9;
  --color-blue-700: #2b1b9c;
}
