@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&display=swap");

:root {
    /* Fonts */
    --font-sans: 'DM Sans', sans-serif;
    --font-mono: 'Fira Code', monospace;

    /* Font weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-xbold: 800;

    /* Neutral colors */
    --neutral-900: #1c1a19;
    --neutral-800: #201e1d;
    --neutral-700: #34302d;
    --neutral-600: #4a4846;
    --neutral-400: #c0bfbf;
    --neutral-300: #dedcda;
    --neutral-200: #efedeb;
    --neutral-100: #fbf9f7;
    --neutral-0:   #ffffff;

    /* Blue */
    --blue-900: #022b4a;
    --blue-800: #5792c0;
    --blue-700: #75b0de;
    --blue-500: #93cefc;
    --blue-200: #e1f1fe;

    /* Green */
    --green-900: #132a1b;
    --green-700: #008531;
    --green-500: #9dd3a9;
    --green-200: #e9f5ea;

    /* Yellow */
    --yellow-900: #4a3003;
    --yellow-700: #ea9806;
    --yellow-500: #facc79;
    --yellow-200: #fff5e1;

    /* Red */
    --red-600: #d92d20;
    --red-400: #f04438;

    /* Spacing */
    --space-0: 0;
    --space-025: 2px;
    --space-050: 4px;
    --space-075: 6px;
    --space-100: 8px;
    --space-150: 12px;
    --space-200: 16px;
    --space-250: 20px;
    --space-300: 24px;
    --space-400: 32px;
    --space-500: 40px;
    --space-600: 48px;
    --space-800: 64px;
    --space-1000: 80px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark-theme {
    --color-heading: var(--neutral-0);
    --color-body: var(--neutral-400);
    --color-bg: var(--neutral-900);
    --color-border: var(--neutral-700);
    --color-social-bg: var(--neutral-800);
    --color-input-bg: var(--neutral-800);
    --color-input-bg-hover: var(--neutral-700);
    --color-input-border: var(--neutral-600);
    --color-submit-button-bg: var(--blue-500);
    --color-submit-button-hover-bg: var(--blue-700);
    --color-submit-button-text: var(--neutral-900);
    --color-focus-outline: var(--blue-500);
    --color-nav-bg: var(--neutral-800);
    --color-close-bg: var(--neutral-0);
}

body {
    --color-heading: var(--neutral-700);
    --color-body: var(--neutral-600);
    --color-bg: var(--neutral-100);
    --color-border: var(--neutral-200);
    --color-social-bg: var(--neutral-0);
    --color-input-bg: var(--neutral-0);
    --color-input-bg-hover: var(--neutral-200);
    --color-input-border: var(--neutral-300);
    --color-submit-button-bg: var(--blue-500);
    --color-submit-button-hover-bg: var(--blue-700);
    --color-submit-button-text: var(--neutral-900);
    --color-focus-outline: var(--blue-700);
    --color-nav-bg: var(--neutral-0);
    --color-close-bg: var(--neutral-700);

    font-family: var(--font-sans);
    background-color: var(--color-bg);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
}

p {
    color: var(--color-body);
    font-size: 1.125rem;
    font-weight: var(--fw-regular);
    line-height: 1.5;
    letter-spacing: -0.2px;
}

section {
    padding: var(--space-400) 0;
    display: flex;
    flex-direction: column;
}

.hero-section,
.about-section {
    gap: var(--space-300);
}

.article-section {
    gap: var(--space-400);
}

.follow-section,
.newsletter-section {
    gap: var(--space-200);
}


.page-title {
    font-size: 2rem;
    font-weight: var(--fw-xbold);
    line-height: 1.3;
    letter-spacing: -0.5px;
}

.section-title {
    font-size: 1.5rem;
    font-weight: var(--fw-semibold);
    line-height: 1.3;
    letter-spacing: -0.5px;
}


.social-links {
    display: flex;
    gap: var(--space-150);
}

@media (min-width: 64rem) {
    .hero-section, 
    .article-section {
        padding: var(--space-600) 0;
    }
}