.btn {
    margin-left: 1rem;
    border: none;
    background-color: transparent;
    display: none;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    &--close {
        &::after{
            content: url('../images/icon-cross.svg');
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: 60rem) {
        display: flex;
    }
}
