.checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 11px;
    background: var(--task-complete-color);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    }
}

[id^=check-id] {
    position: absolute;
    height: 0;
    width: 0;
}

.check {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--bg-app-color);
    
}

[id^=check-id]:checked + .check {
    background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: url('../images/icon-check.svg');
    }
}

.checkbox:has([id^=check-id]:checked + .check) {
    background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}