

.list {
    width: 100%;
    border-radius: .3rem;
    background-color: var(--bg-app-color);
    box-shadow: 0 13px 18px 5px rgba(0, 0, 0, 0.05);
    
    &__item {
        padding: 1.5rem;
        font-size: 1.6rem;
        color: var(--task-text-color);
        list-style: none;
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: 10% 80% 10%;

        &.dragging {
            background-color: var(--bg-app-color);
            border: 1px solid #fff;
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--line-color);
        }

        &--completed {
            color: var(--task-complete-color);
            text-decoration: line-through;
        }

    }

    &__footer {
        padding: 1.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: var(--bg-app-color);
        color: var(--task-complete-color);
        font-size: 1.2rem;
        font-weight: 400;
        position: relative;

        & ul {
            display: flex;
            align-items: center;
            gap: .5rem;

            @media (max-width: 40rem) {
                padding: 1.5rem;
                gap: 1rem;
                border-radius: .3rem;
                position: absolute;
                bottom: -6rem;
                left: 50%;
                transform: translateX(-50%);
                background-color: var(--bg-app-color);
                width: 100%;
                justify-content: center;
            }

            & li {
                list-style: none;
                cursor: pointer;

                &:first-child {
                    color: hsl(220, 98%, 61%);
                }

                &:not(:first-child):hover {
                    color: var(--list-text-hover-color);
                }
            }
        }

        & span:last-child:hover {
            color: var(--list-text-hover-color);
            cursor: pointer;
        }
    }
}
