.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    position: absolute;
    top: -20rem;
    left: 50%;
    transform: translateX(-50%);

    @media(max-width: 60rem) {
        top: -15rem;
    }
}