$headings: (
  1: (2.5rem, $fw-xbold, 1.3, -1px),
  2: (2rem, $fw-xbold, 1.3, -0.5px),
  3: (1.75rem, $fw-bold, 1.3, -0.5px),
  4: (1.5rem, $fw-semibold, 1.3, -0.5px),
  5: (1.25rem, $fw-semibold, 1.3, -0.5px),
  6: (1.125rem, $fw-medium, 1.4, -0.2px),
);

@each $level, $values in $headings {
  h#{$level},
  .heading-#{$level} {
    font-size: nth($values, 1);
    font-weight: nth($values, 2);
    line-height: nth($values, 3);
    letter-spacing: nth($values, 4);
  }
}
